.form-control {
    border-color: #e5e5e5;
    box-shadow: none;
    color:black !important;
}
.form-control:focus {
    border-color: #0cb4aa;
}
.contact-modal {
    padding: 50px;
    margin: 30px auto;
}
.contact-modal h4 {
    font-size: 26px;
    display: inline-block;
}
.contact-modal .form-control, .contact-modal .btn  {
    min-height: 38px;
    border-radius: 1px;
    outline: none;
    border-radius: 2px;
    transition: all 0.5s;
}
.contact-modal textarea {
    height: 144px;
}
.contact-modal .btn-info {
    min-width: 120px;
}
.contact-modal .btn-link {
    color: #17a2b8;
}
.contact-modal label {
    opacity: 0.9;
    font-weight: normal;
    font-size: 95%;
}
.contact-modal textarea {
    resize: vertical;
}
.contact-modal .modal-header {
    padding: 20px 35px 15px;
    color:black !important;

}
.contact-modal .modal-content {
    border-radius: 1px;
}
.modal-footer {
    padding: 20px 35px;
}
.contact-modal .close {
    position: absolute;
    right: 35px;
    top: 25px;
}
.contact-modal .modal-body {
    padding: 25px 35px 15px;
    color:black !important;
}
.hint-text {
    opacity: 0.8;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.theme1{
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #ff8800;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
}

.theme2{
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #008cff;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
}

.theme3{
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #9900ff;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
}